*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: white; */
  /* overflow-x: clip; */
}

html,body{
  width: 100%;
  /* height: 500px; */
  overflow: none;
  /* background: white; */
}

.wrapper{
  position: absolute;
  /* left: 50%; */
  width: 100%;
  top: 0vh;
  display: flex;
}

/* body{
  overflow-y: scroll;
  position: fixed;
} */

canvas{
  position: fixed;
  z-index: -50;
  display: block;
  /* background-color: #0c1445; */
}

.canvas2{
  position: fixed;
  left: 500%;
  display: block;
}

.menuContainer{
  display: flex;
  flex-direction: column;
  /* height: 100px; */
  /* position: absolute; */
  z-index: 0;
  /* border: 1px solid red; */
  /* justify-content: space-between; */
  /* gap: 2%; */
  width: 100%;
  /* padding: 0.5%; */
}

.header {
  padding: 0.5%;
  border-bottom: white 1px solid;
  position: fixed;
  width: 100%;

}

.title{
  font-weight: 700;
  /* font-size: 2rem; */
}

.form{
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 100%;
  height: 20%;
  gap: 1%;
  position: fixed;
  bottom: 0;
  /* border: 1px solid green; */
  /* background-image: linear-gradient(#ffffffad,#000000,#000000);; */
  overflow: scroll;
}

.form button {
  width: 50%;
  align-self: center;
  padding: 1%;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.in1, .in2 {
  padding: 1.5%;
  margin-top: 5px;
}

/* button{
  color: black;
} */
.wxContainer{
  overflow-y: scroll;
  padding: 2%;

}

.textBox img {
  border-radius: 5px;
  margin-bottom: 5px;
}

.short{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
}



@media screen and (min-width: 450px) {
  .wxContainer{
    padding-left: 5%;
    padding-right: 5%;
  }

  .form{
    padding-left: 5%;
    padding-right: 5%;
  }

  .form button{
    padding: 0.5%;
    margin-top: 5px;
  }

  .in1,.in2{
    padding: 1%;
  }
}

@media screen and (min-width: 768px) {
  .wxContainer{
    padding-left: 15%;
    padding-right: 15%;
  }

  .form{
    padding-left: 15%;
    padding-right: 15%;
  }

  .form button{
    padding: 0.5%;
  }

  .in1,.in2{
    padding: 0.5%;
  }

  .header{
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .wxContainer{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  .form{
    padding-left: 20%;
    padding-right: 20%;
  }

  .form button{
    padding: 0.5%;
  }

  .in1,.in2{
    padding: 1%;
  }

  .header{
    padding: 1%;
  }

  .textBox{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

  }


}